@model IEnumerable<SponteLive.Models.Inscricao>

<hr />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Gerenciar Inscricao</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <p>
                        <a href="Inscricao/Create" class="btn btn-primary">Criar</a>
                    </p>

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Inscrito.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Live.Nome)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DataVencimento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StatusPagamento)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Inscrito.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Live.Nome)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataVencimento)
                                    </td>
                                    <td>
                                        @if (item.StatusPagamento == true)
                                        {
                                            <span>Sim</span>
                                        }
                                        else
                                        {
                                            <span>Não</span>
                                        }
                                    </td>

                                    <td>
                                        <a href="Inscricao/Details/@item.Id"> <i class="fa fa-eye fa-lg" aria-hidden="true"></i> </a> &nbsp;
                                        <a href="Inscricao/Edit/@item.Id">&nbsp;&nbsp; <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> &nbsp; </a>
                                        <a href="Inscricao/Delete/@item.Id">&nbsp;&nbsp; <i class="fa fa-trash fa-lg" aria-hidden="true"></i> </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>


